@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import './variable.scss';

@each $name,
$code in $font-color-list {
  .fc-#{$name} {
    color: $code;
  }
}

@each $weight in $font-weight-list {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

@each $size,
$value in $size-list {
  @if $size !=auto {
    .fs-#{$size} {
      font-size: $value;
    }
  }

  .p-#{$size} {
    padding: $value;
  }

  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$size} {
    padding-bottom: $value;
    padding-top: $value;
  }

  .pt-#{$size} {
    padding-top: $value;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }

  .m-#{$size} {
    margin: $value;
  }

  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$size} {
    margin-bottom: $value;
    margin-top: $value;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }
}

* {
  // user-select: none;
  font-family: 'Kanit', sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: #F6F9FB;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-info {
  .img-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .label {
    margin-left: 8px;
    width: 120px;
    .title {
      color: #3D3F40;
      font-size: 14px;
    }
    .des {
      color: #83888A;
      font-size: 12px
    }
  }
}

.thin-scrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 4px;
  }
}

button {
  cursor: pointer;
  font-weight: 600;
}

input,
button {
  outline: none;
  border: none;
  height: 48px;
  font-size: 16px;
  padding-left: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: .2s;
  background-color: #fff;
  
}

::placeholder {
  color: #BEC7CB;
}
  
input.outlined,
button.outlined {
  border: 1px solid #269AD4;
  color: #269AD4;
  &:hover {
    background-color: #269AD408;
  }
  &:disabled {
    border: 1px solid #E0E8EC;
    color: #BEC7CB;
    &:hover {
      background-color: #fff;
    }
  }
}

input.filled,
button.filled {
    background-color: #269AD4;
    border: 1px solid #269AD4;
  color: #fff;
  &:hover {
    background-color: #248fc4;
  }
}