<template>
  <div class="relative">
    <div class="flex">
      <div class="fs-32 fw-600">{{ page }}</div>
      <input
        type="text"
        class="outline ml-auto"
        style="width: 266px"
        placeholder="ค้นหาชื่อ, พื้นที่, วงเงินที่ขอ "
        disabled
      />
      <button
        type="text"
        class="outlined flex-mid ml-16"
        style="width: 60px; padding: 0px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#269AD4"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
          />
        </svg>
      </button>
      <button
        type="text"
        class="outlined ml-16 flex-mid"
        style="width: 183px; padding: 0 0 0 4px"
      >
        <span class="mr-14"> Export to Excel </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#269AD4"
        >
          <g>
            <rect fill="none" height="24" width="24" />
          </g>
          <g>
            <path
              d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"
            />
          </g>
        </svg>
      </button>
      <button
        type="text"
        class="filled ml-16 flex-mid pr-16"
        style="width: 105px"
      >
        <span class="mr-10"> ADD </span>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#ffffff"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
            />
          </svg>
        </div>
      </button>
    </div>
    <div class="flex mt-16">
      <div
        :class="`tab flex-mid ${tabSelected === value.id ? 'active' : ''}`"
        v-for="value in tabData"
        :key="value.id + '_label'"
        @click="(tabSelected = value.id), (pageShowing = 1)"
      >
        {{ value.label }}
      </div>
    </div>
    <div class="table-container thin-scrollbar">
      <div style="width: 2264px">
        <table>
          <tr>
            <th style="width: 40px">&nbsp;</th>
            <th style="width: 200px">
              <div class="flex-center">
                ผู้ขายฝาก
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'), (sortTableData = 'fullName')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'fullName')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">
              <div class="flex-center">
                ประเภททรัพย์
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'propertyType')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'propertyType')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">พื้นที่</th>
            <th style="width: 144px">
              <div class="flex-center">
                ที่ตั้งทรัพย์
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'), (sortTableData = 'where')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'), (sortTableData = 'where')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">
              <div class="flex-center">
                ภาระผูกพัน
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'obligation')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'obligation')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">
              <div class="flex-center">
                วงเงินที่ขอ
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'requestedValue')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'requestedValue')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">
              <div class="flex-center">
                ชื่อผู้รับผิดชอบ
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'responsiblePerson')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'responsiblePerson')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 184px">
              <div class="flex-center">
                ช่องทางการลงทะเบียน
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'registrationChannel')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'registrationChannel')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 144px">
              <div class="flex-center">
                วันที่ทรัพย์เข้ามา
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'dateOfArrived')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'dateOfArrived')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 240px">
              <div class="flex-center">
                สถานะทรัพย์
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'), (sortTableData = 'status')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'), (sortTableData = 'status')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 120px">
              <div class="flex-center">
                ข้อมูล
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'information')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'information')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 160px">
              <div class="flex-center">
                พิจารณาทรัพย์ขั้นต้น
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'considerStatus')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'considerStatus')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 160px">
              <div class="flex-center">
                ผู้รับผิดชอบ
                <div class="arrow-container">
                  <div
                    class="arrow arrow-up"
                    @click="
                      (compareTableType = 'less'),
                        (sortTableData = 'responsiblePersonStatus')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"
                      />
                    </svg>
                  </div>
                  <div
                    class="arrow arrow-down"
                    @click="
                      (compareTableType = 'greater'),
                        (sortTableData = 'responsiblePersonStatus')
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="18px"
                      viewBox="0 0 24 24"
                      width="18px"
                      fill="#000000"
                    >
                      <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                      <path
                        d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </th>
            <th style="width: 152px">&nbsp;</th>
          </tr>
          <tr v-for="(val, index) in dataShowing(tabSelected)" :key="val.id">
            <td class="center">{{ index + 1 }}</td>
            <td class="">{{ val.fullName }}</td>
            <td class="">{{ val.propertyType }}</td>
            <td class="">{{ val.size }}</td>
            <td class="">{{ val.where }}</td>
            <td class="">{{ val.obligation }}</td>
            <td class="">{{ val.requestedValue }}</td>
            <td class="">{{ val.responsiblePerson }}</td>
            <td class="">{{ val.registrationChannel }}</td>
            <td class="">{{ val.dateOfArrived }}</td>
            <td class="">
              <span class="tag orange" v-if="val.status == 'one'">
                แบบร่าง
              </span>
              <span class="tag blue" v-else-if="val.status == 'two'">
                ส่งคำขอขายฝาก
              </span>
              <span class="tag sky-blue" v-else> รอส่งทรัพย์เข้าประเมิน </span>
            </td>
            <td class="">
              <span class="tag sky-blue" v-if="val.information == 'one'">
                ข้อมูลครบแล้ว
              </span>
              <span class="tag orange" v-else-if="val.information == 'two'">
                ข้อมูลยังไม่ครบ
              </span>
            </td>
            <td class="">
              <span class="tag sky-blue" v-if="val.considerStatus == 'one'">
                90 คะแนน (A)
              </span>
              <span class="tag orange" v-else-if="val.considerStatus == 'two'">
                รอพิจารณาทรัพย์ขั้นต้น
              </span>
            </td>
            <td class="">
              <span
                class="tag sky-blue"
                v-if="val.responsiblePersonStatus == 'one'"
              >
                มอบหมายเจ้าหน้าที่แล้ว
              </span>
              <span
                class="tag orange"
                v-else-if="val.responsiblePersonStatus == 'two'"
              >
                รอมอบหมายเจ้าหน้าที่
              </span>
              <span
                class="tag gray"
                v-else-if="val.responsiblePersonStatus == 'three'"
              >
                รอมอบหมายเจ้าหน้าที่
              </span>
            </td>
            <td class="">
              <div class="flex-mid">
                <div class="icons">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#269AD4"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"
                    />
                  </svg>
                </div>
                <div class="mx-10" style="color: #e0e8ec">|</div>
                <div v-if="val.responsiblePersonStatus == 'one'" class="icons">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 24 24"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#269AD4"
                  >
                    <g><rect fill="none" height="24" width="24" /></g>
                    <g>
                      <path
                        d="M22,12c0-5.52-4.48-10-10-10C6.48,2,2,6.48,2,12s4.48,10,10,10C17.52,22,22,17.52,22,12z M4,12c0-4.42,3.58-8,8-8 c4.42,0,8,3.58,8,8s-3.58,8-8,8C7.58,20,4,16.42,4,12z M16,12l-4,4l-1.41-1.41L12.17,13H8v-2h4.17l-1.59-1.59L12,8L16,12z"
                      />
                    </g>
                  </svg>
                </div>
                <div v-else class="icons">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 24 24"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#269AD4"
                  >
                    <g><rect fill="none" height="24" width="24" /></g>
                    <g>
                      <g>
                        <g>
                          <path
                            d="M3,21l3.75,0L17.81,9.94l-3.75-3.75L3,17.25L3,21z M5,18.08l9.06-9.06l0.92,0.92L5.92,19L5,19L5,18.08z"
                          />
                        </g>
                        <g>
                          <path
                            d="M18.37,3.29c-0.39-0.39-1.02-0.39-1.41,0l-1.83,1.83l3.75,3.75l1.83-1.83c0.39-0.39,0.39-1.02,0-1.41L18.37,3.29z"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="mx-10" style="color: #e0e8ec">|</div>
                <div v-if="val.responsiblePersonStatus == 'one'" class="icons">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#F32D2D"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
                    />
                  </svg>
                </div>
                <div v-else class="icons">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#F32D2D"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
                    />
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="table-footer flex-center">
      <div class="ml-auto fc-83888A fs-16">
        {{ pageShowing * dataPerPageShowing - 49 }}-{{
          pageShowing * dataPerPageShowing
        }}
        from {{ tableShowing(tabSelected).length }}
      </div>
      <div class="flex-mid ml-20">
        <div class="mt-7 cursor-pointer" @click="changPageByArrow(-1)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
          </svg>
        </div>
        <div v-if="pageShowing > 3" class="number-page">
          <span class="mr-20 cursor-pointer" @click="changPageNumber(1)">
            1
          </span>
          ...
        </div>
        <div
          v-if="pageShowing - 1 > 0"
          class="number-page cursor-pointer"
          @click="changPageNumber(pageShowing - 1)"
        >
          {{ pageShowing - 1 }}
        </div>
        <div class="number-page active">{{ pageShowing }}</div>
        <div
          class="number-page cursor-pointer"
          v-if="pageShowing < maxPage"
          @click="changPageNumber(pageShowing + 1)"
        >
          {{ pageShowing + 1 }}
        </div>
        <div v-if="pageShowing < maxPage - 2" class="number-page">
          ...
          <span class="ml-20 cursor-pointer" @click="changPageNumber(maxPage)">
            {{ maxPage }}
          </span>
        </div>
        <div class="mt-7 cursor-pointer" @click="changPageByArrow(1)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mockData from "./mockJsonData.js";

export default {
  name: "Table",
  props: {
    page: String,
  },
  data() {
    return {
      tabSelected: "one-sdfljdsfui",
      pageShowing: 1,
      maxPage: 1,
      dataPerPageShowing: 50,
      sortTableData: "",
      compareTableType: "less",
      tabData: [
        {
          label: "Tab 1",
          id: "one-sdfljdsfui",
          data: mockData(490),
        },
        {
          label: "Tab 2",
          id: "two-sdfljdsfui",
          data: mockData(100),
        },
        {
          label: "Tab 3",
          id: "three-sdfljdsfui",
          data: mockData(220),
        },
        {
          label: "Tab 4",
          id: "four-sdfljdsfui",
          data: mockData(178),
        },
        {
          label: "Tab 5",
          id: "five-sdfljdsfui",
          data: mockData(190),
        },
      ],
    };
  },
  methods: {
    compareData(a, b) {
      let less = 1;
      let greater = -1;
      if (this.compareTableType == "greater") {
        less = -1;
        greater = 1;
      }
      if (this.sortTableData && a[this.sortTableData]) {
        if (a[this.sortTableData] < b[this.sortTableData]) {
          return less;
        }
        if (a[this.sortTableData] > b[this.sortTableData]) {
          return greater;
        }
      }
      return 0;
    },
    filterDataTable(table) {
      const sortTable = table.sort(this.compareData)
      const arr = [];
      const firstData =
        this.pageShowing * this.dataPerPageShowing - this.dataPerPageShowing;
      const lastData = this.pageShowing * this.dataPerPageShowing;
      for (let i = 0; i < sortTable.length; i++) {
        if (i >= firstData && lastData > i) {
          arr.push(sortTable[i]);
        }
      }

      return arr;
    },
    dataShowing(id) {
      for (const data of this.tabData) {
        if (data.id == id) {
          return this.filterDataTable(data.data);
        }
      }
      return [];
    },
    tableShowing(id) {
      for (const data of this.tabData) {
        if (data.id == id) {
          const maxPage = data.data.length;
          this.maxPage = Math.ceil(maxPage / this.dataPerPageShowing);
          return data.data;
        }
      }
      return [];
    },
    changPageByArrow(value) {
      let changPage = this.pageShowing + value;
      if (changPage > 0 && changPage <= this.maxPage) {
        console.log("if", this.pageShowing);
        this.pageShowing = changPage;
      }
    },
    changPageNumber(value) {
      this.pageShowing = value;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.tab {
  user-select: none;
  cursor: pointer;
  background-color: #f8fafd;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 44px;
  color: #83888a;
  /* Dev: How this font came here? */
  font-family: "Inter", sans-serif;
}
.tab.active {
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
    border-spacing: 0px;
    td,
    th {
      padding: 0;
      padding-left: 16px;
      font-size: 14px;
    }
    th {
      background-color: #edf4f8;
      text-align: left;
      height: 52px;

      .arrow-container {
        height: 32px;
        width: 1px;
        margin-left: 16px;
        position: relative;
      }
      .arrow {
        cursor: pointer;
      }
      .arrow-up {
        position: absolute;
        top: 2px;
      }
      .arrow-down {
        position: absolute;
        bottom: -4px;
      }
    }
    td {
      background-color: #ffffff;
      padding: 5px 6px 5px 16px;
      .tag {
        padding: 1px 8px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
      }
      .tag.orange {
        background-color: #fa941c;
      }
      .tag.purple {
        background-color: #722ed1;
      }
      .tag.gray {
        background-color: #bec7cb;
      }
      .tag.blue {
        background-color: #2958ff;
      }
      .tag.sky-blue {
        background-color: #29b8ff;
      }

      .icons {
        cursor: pointer;
      }
    }
  }
}

.table-footer {
  height: 64px;
  padding: 0 16px;
  width: calc(100% - 32px);
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  .number-page {
    color: #1d1e1f;
    font-weight: 700;
    font-size: 16px;
    margin: 0 20px;
  }
  .number-page.active {
    font-weight: 900;
    color: #269ad4;
  }
}
</style>
