<template>
  <div class="navbar-container">
    <div class="header flex-center">
      <div class="logo flex-mid fw-600 fs-14 fc-FFFFFF">LOGO</div>
      <div class="ml-auto flex-center profile-info">
        <img
          class="img-profile"
          src="https://preview.redd.it/eadl45b9io451.jpg?auto=webp&s=dc33fe7e2ff59b56053eab748d0234f1b1238028"
          alt="Profile image"
        />
        <div class="label">
          <div class="title ellipsis">{{ "Sierra Ferguson" }}</div>
          <div class="des ellipsis">{{ "Operation Manager" }}</div>
        </div>
        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#3D3F40"
          >
            <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
          </svg>
        </div>
      </div>
      <div class="right-line mx-8"></div>
      <div class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#3D3F40"
        >
          <path
            d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style lang="scss" scoped>
.navbar-container {
  height: 64px;
  position: relative;
}

.header {
  position: fixed;
  z-index: 999999;
  background-color: #fff;
  padding: 0 16px;
  height: 64px;
  width: calc(100% - 32px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);

  .logo {
    background-color: #269ad4;
    width: 72px;
    height: 32px;
    border-radius: 32px;
  }

  .right-line {
    width: 2px;
    height: 20px;
    background-color: #e0e8ec;
  }
}
</style>
