<template>
  <Navbar />
  <div class="page-container">
    <div class="side-menu thin-scrollbar">
      <div class="menu-container">
        <button
          type="button"
          class="main-menu flex-center"
          @click="menu.a = !menu.a"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M16.66 4.52l2.83 2.83-2.83 2.83-2.83-2.83 2.83-2.83M9 5v4H5V5h4m10 10v4h-4v-4h4M9 15v4H5v-4h4m7.66-13.31L11 7.34 16.66 13l5.66-5.66-5.66-5.65zM11 3H3v8h8V3zm10 10h-8v8h8v-8zm-10 0H3v8h8v-8z"
            />
          </svg>
          <div class="label">Menu A</div>
          <div class="ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
          </div>
        </button>
        <div
          class="submenu-container"
          :style="`max-height: ${menu.a ? 1000 : 0}px;`"
        >
          <div v-for="list in menu.aList" :key="list.label + '_menu_a'">
            <div
              v-if="list.child.length > 0"
              @click="list.status = !list.status"
              :class="`child-submenu container ${list.status ? '' : 'hover'}`"
            >
              <div>{{ list.label }}</div>
              <div
                class="submenu-container"
                :style="`max-height: ${
                  list.status ? list.child.length * 48 : 0
                }px;`"
              >
                <div
                  class="child-submenu flex-center"
                  v-for="listI in list.child"
                  :key="listI.label + '_menu_a'"
                >
                  {{ listI.label }}
                </div>
              </div>
            </div>
            <div
              v-else
              @click="menuSelected = list.label"
              class="submenu flex-center"
            >
              {{ list.label }}
            </div>
          </div>
        </div>
        <button
          type="button"
          class="main-menu flex-center"
          @click="menu.b = !menu.b"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"
            />
          </svg>
          <div class="label">Menu B</div>
          <div class="ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
          </div>
        </button>
        <div
          class="submenu-container"
          :style="`max-height: ${menu.b ? menu.bSize * 48 : 0}px;`"
        >
          <div class="submenu flex-center">B1</div>
          <div class="submenu flex-center">B2</div>
          <div class="submenu flex-center">B3</div>
          <div class="submenu flex-center">B4</div>
        </div>
        <button
          type="button"
          class="main-menu flex-center"
          @click="menu.c = !menu.c"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM7 10h2v7H7zm4-3h2v10h-2zm4 6h2v4h-2z"
            />
          </svg>
          <div class="label">Menu C</div>
          <div class="ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
          </div>
        </button>
        <div
          class="submenu-container"
          :style="`max-height: ${menu.c ? menu.cSize * 48 : 0}px;`"
        >
          <div class="submenu flex-center">B1</div>
          <div class="submenu flex-center">B2</div>
        </div>
        <button
          type="button"
          class="main-menu flex-center"
          @click="menu.d = !menu.d"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#83888A"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"
            />
          </svg>
          <div class="label">Menu D</div>
          <div class="ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
          </div>
        </button>
        <div
          class="submenu-container"
          :style="`max-height: ${menu.d ? menu.dSize * 48 : 0}px;`"
        >
          <div class="submenu flex-center">B1</div>
          <div class="submenu flex-center">B2</div>
          <div class="submenu flex-center">B3</div>
        </div>
      </div>
    </div>
    <div class="p-32">
      <Table :page="menuSelected" />
    </div>
  </div>
</template>

<script>
import Table from "./components/Table.vue";
import Navbar from "./components/attribute/Navbar.vue";

export default {
  name: "App",
  components: {
    Table,
    Navbar,
  },
  data() {
    return {
      menu: {
        a: true,
        aList: [
          {
            label: "A1",
            child: [],
          },
          {
            label: "A2",
            child: [],
          },
          {
            label: "A3",
            child: [],
          },
          {
            label: "A4",
            child: [],
          },
          {
            label: "A5",
            child: [],
          },
          {
            label: "A5",
            child: [],
          },
          {
            label: "A6",
            status: false,
            child: [
              {
                label: "A6-1",
              },
              {
                label: "A6-2",
              },
            ],
          },
          {
            label: "A7",
            child: [],
          },
        ],
        b: false,
        bSize: 4,
        c: false,
        cSize: 2,
        d: false,
        dSize: 3,
      },
      menuSelected: "A1",
    };
  },
};
</script>

<style lang="scss" scoped>
.page-container {
  display: grid;
  grid-template-columns: 256px calc(100vw - 276px);
  height: calc(100vh - 64px);
}

.side-menu {
  background-color: #fff;
  overflow-y: auto;
  user-select: none;

  .menu-container {
    overflow: auto;
  }

  .main-menu {
    cursor: pointer;
    text-align: left;
    padding: 12px 16px;
    width: 100%;
    height: 48px;
    border: none;
    color: #3d3f40;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    &:hover {
      background-color: #269ad440;
    }
    .label {
      margin-left: 10px;
    }
  }
  .submenu-container {
    max-height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-out;

    .submenu,
    .child-submenu {
      font-weight: 600;
      font-size: 14px;
      color: #269ad4;
    }

    .submenu {
      padding: 12px 0 12px 48px;
      background-color: #fff;
      &:hover {
        background-color: #269ad420;
      }
    }

    .child-submenu {
      padding: 12px 0 12px 12px;
      background-color: #fff;
      &:hover {
        background-color: #269ad420;
      }
    }

    .child-submenu.container {
      padding: 12px 0 12px 48px;
      &:hover {
        background-color: #fff;
      }
    }
    .child-submenu.container.hover {
      padding: 12px 0 12px 48px;
      background-color: #fff;
      &:hover {
        background-color: #269ad420;
      }
    }
  }
}
</style>
